<!DOCTYPE html>
<html lang="" version="HTML+RDFa 1.0" dir="">
<meta http-equiv="refresh" content="3;url='{{ return_url }}'"/>
<head profile="">
    <title>{{ 'Thank you for your order'|t }}</title>    <!-- Embed the stylesheet stored on WorldPay's server -->
    <style type="text/css">
    </style>
</head>
<body>
<div id="page-wrapper">
    <div id="page">
        <div id="header">
            <div class="section">
                <div id="site-name">
                    <strong><span></span></strong>
                </div>
            </div>
        </div>
        <div id="main">
            <header>
                <h1>{{ 'Your order at ' ~ site_name }}</h1>
                <p>{{ 'Your transaction was successfuly recieved by WorldPay. Thank you.' }}</p>
                <table class="bartik">
                    <thead>
                    <tr>
                        <th>{{ 'Order No' }}</th>
                        <th>{{ 'WorldPay transaction code' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order_id }}</td>
                        <td>{{ transaction_id }}</td>
                    </tr>
                    </tbody>
                </table>
                <WPDISPLAY ITEM=banner></WPDISPLAY>
                <p>{{ 'We will redirect you back to the site in the next few seconds' }}</p>
                <p id="return-url">
                    <a href="{{ return_url }}">Return on site</a>
                </p>
            </header>
        </div>
    </div>
</div>
</body>
</html>
